#titulo{
    color: #ff0000;
}

#texto{
    font-weight: bolder;
}

#img_gran{
    height: 400px;
    width: 600px;
}
#nome{
    height: 20px;
    width: 100px;
}
#enviar{
    background-color: red;
    color: white;
}
